# Selected socio-economic determinants of social trust

Author: Mateusz Kasprowicz
Date: January 2024

## Load libraries

In [5]:
import random

import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import sklearn
import statsmodels.api as sm

## Constants

In [4]:
np.random.seed(0)
random.seed(0)

## Load data

In [21]:
columns_used = ["cntry", 
                "agea", 
                "eduyrs", 
                "gndr", 
                "marsts", # Legal marital status
                "hinctnta", # Household's total net income, all sources
                "uemp3m", # Ever unemployed and seeking work for a period more than three months
                ]

In [22]:
data = pd.read_spss(r"../data/ESS10SC_SPSS/ESS10SC.sav", usecols=columns_used)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22074 entries, 0 to 22073
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cntry     22074 non-null  category
 1   gndr      21439 non-null  category
 2   agea      21028 non-null  category
 3   eduyrs    20074 non-null  category
 4   uemp3m    20676 non-null  category
 5   hinctnta  17232 non-null  category
dtypes: category(6)
memory usage: 134.5 KB

In [25]:
data.sample(5)

         cntry    gndr  agea eduyrs uemp3m         hinctnta
6676   Germany  Female  77.0    NaN    NaN              NaN
14824   Israel    Male  42.0   16.0    Yes  H - 10th decile
18791   Serbia  Female  61.0   12.0    Yes   C - 3rd decile
11088  Germany  Female  51.0   13.0     No   S - 6th decile
8420   Germany    Male  33.0   15.0     No   R - 2nd decile